<html lang="en">
<head>
    <title>{{ title }}</title>
<link rel="stylesheet" href= {{ url_for('static', filename='css/base.css') }}>
</head>
<body>
<div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}
        <ul class = "side">
        <li class = "element"><a href="{{ url_for('index') }}">Home</a></li>
        {% if current_user.is_anonymous %}
        <li class = "element"><a href="{{ url_for('login') }}">Login</a></li>
        {% else %}
        <li class = "element"><a href="{{ url_for('logout') }}">Logout</a></li>
        <li class = "element"><a href="{{ url_for('build') }}">Build a Deck</a></li>
        {% endif %}
        </ul>

</div>
<div>

        {% block content %}{% endblock content %}
                
</div>
</body>
</html>
