{% extends "base.html" %}

{% block content %}
<div class="yours">
    <h1>Hi, {{ current_user.username }}!</h1>

    <h2>Your Decks</h2>


    {% for decker in private_decklist %}
        <div class = "box scrollmenu">
            <h3><a href="/view/{{ decker.id }}">{{ decker.deck.name }}</a></h3>
        </div>
    {% endfor %}
</div>
<div class="theirs">
    <h2>Public Decks</h2>
    {% for decker in public_decklist %}
        <div class = "box scrollmenu">
            <h3><a href="/view/{{ decker.id }}">{{ decker.deck.name }} by User #{{ decker.user_id }}</a></h3>
        </div>
    {% endfor %}
</div>
{% endblock %}
